<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – ASP.NET MVC Application</title>
    @Styles.Render("~/node_modules/bootstrap/dist/css/bootstrap.min.css")
    @Scripts.Render("~/node_modules/jquery/dist/jquery.min.js")
    @Scripts.Render("~/node_modules/bootstrap/dist/js/bootstrap.min.js")
    @Styles.Render("~/Assets/css/Site.css")
</head>
<body>

    @Html.Partial("bootstrap");

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Game Store STHREEM</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
