@model GameStore.UI.Models.LayoutViewModel
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        @*<div class="navbar-header">
            <a class="navbar-brand" href="~/Game/Index">
                <img alt="Brand" 
                     src="data:image/@(GameStore.EntityFramework.ImageConverter.FormatToString(GameStore.Resources.Resource.icon.RawFormat));base64,
                     @Convert.ToBase64String(GameStore.EntityFramework.ImageConverter.Convert(GameStore.Resources.Resource.icon))" height='60 ' width="60" />
            </a>
        </div>*@
        <div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home","Index", "Game")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">Games<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" id="MyTab">
                        <li role="presentation">
                            <a href="@Url.Action("ShowNewGames", "GameSets")">
                                New in catalog
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li role="presentation">
                            <a href="@Url.Action("ShowCheapGames", "GameSets")">
                                <span class="glyphicon glyphicon-fire"></span> Hot prices
                            </a>
                        </li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Publishers","Index", "Publisher")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">Categories<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" id="MyTab">
                        @foreach (var item in Model.HeaderCategories)
                        {
                            <li role="presentation">
                                <a href="@Url.Action("ShowGamesWithCategory","GameSets",new {category="Экшн" })">
                                    @item.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <li><a href="~/UserSets/Main"><span class="glyphicon glyphicon-user"></span> Users</a></li>
            </ul>
            @* Identity and authetication *@
            @*@Html.Partial("_LoginPartial")
                <form class="navbar-form">
                    <input type="submit" class="btn btn-danger navbar-btn navbar-right" value="Search" />
                    <input type="text" class="form-control col-md-push-10 navbar-btn navbar-right" />
            </form>*@
        </div>
    </div>
</div>




