@model IEnumerable<GameStore.UIWeb.Models.GameSet>
@{
    ViewBag.Title = "ShowCheapGames";
}

<h2>ShowCheapGames</h2>

@foreach (var item in Model)
{
    <div class="list-group media">
        <a href="~/@string.Format("GameSets/Details?id={0}",item.Id)" class="list-group-item well">
            <div class="media-left media-middle">
                <img alt="Logo" src="@Url.Content(item.Picture)" height='69' width="184" class="media-object" />
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Html.DisplayFor(modelItem => item.Name)</h4><p></p>
                <p class="list-group-item-text">@Html.DisplayFor(modelItem => item.Description)</p><p></p>
                <p class="list-group-item-text">Category: @Html.DisplayFor(modelItem => item.Category)</p>
                <p class="list-group-item-text">Publisher: @Html.DisplayFor(modelItem => item.PublisherSet.Name)</p><p></p>
                <p class="list-group-item-text">@Html.DisplayFor(modelItem => item.Price)$</p>
            </div>
        </a>
    </div>
}
