@model GameStore.UIWeb.Models.CommentsSet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommentsSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameSet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameSet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSet.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSet.Login)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
